* {
  margin: 0;
  font-family: "Cascadia Mono", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 17, 17);
}

.web-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 28, 28);
  justify-content: space-between;
  height: 4rem;
  width: 100%;
}
.web-header .header-container {
  margin: auto;
  display: flex;
  width: 80vh;
  max-width: 80vh;
  justify-content: space-between;
}
.web-header .header-container .header-left {
  display: flex;
  align-items: center;
}
.web-header .header-container .header-left a {
  text-decoration: none;
  color: rgb(110, 130, 176);
}
.web-header .header-container .header-right {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.web-header .header-container .header-right a {
  color: rgb(110, 130, 176);
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6rem;
}

.login-form {
  margin: 10rem auto;
  width: 80vh;
  max-width: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login-form input,
.login-form button {
  height: 4rem;
  font-size: 2.5rem;
}
.login-form input::-moz-placeholder, .login-form button::-moz-placeholder {
  font-style: italic;
  color: rgba(207, 207, 207, 0.2);
}
.login-form input::placeholder,
.login-form button::placeholder {
  font-style: italic;
  color: rgba(207, 207, 207, 0.2);
}
.login-form input:focus,
.login-form button:focus {
  outline: none;
}
.login-form input {
  background-color: rgb(35, 35, 35);
  border: none;
  color: white;
}
.login-form button {
  background-color: rgb(144, 144, 144);
  border: none;
}
.login-form button:hover {
  cursor: pointer;
  background-color: rgb(106, 105, 105);
}

.post-card {
  height: 15rem;
  width: 30rem;
  border-radius: 2rem;
  background-color: rgb(89, 82, 82);
  margin: auto;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem auto;
  max-width: 80vh;
}
.create-post-form input,
.create-post-form textarea:focus {
  outline: none;
}
.create-post-form input::-moz-placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form input::placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form textarea::-moz-placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form textarea::placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form textarea {
  max-width: 80vh;
  min-width: 80vh;
  min-height: 20vh;
  padding: 2vh;
}
.create-post-form .submit-class {
  display: flex;
  justify-content: space-between;
}
.create-post-form .submit-class input[type=file] {
  display: none;
}
.create-post-form .submit-class .file-class {
  display: flex;
  background-color: rgb(173, 167, 167);
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.create-post-form .submit-class button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 6.5rem;
  cursor: pointer;
  font-size: 2vh;
  height: 4rem;
  background-color: rgb(36, 36, 36);
  border: none;
  border-radius: 0.5rem;
  color: rgb(207, 207, 170);
}
.create-post-form input,
.create-post-form textarea {
  font-size: 2vh;
  padding-left: 2vh;
  height: 4rem;
  background-color: rgb(36, 36, 36);
  border: none;
  border-radius: 0.5rem;
  color: rgb(207, 207, 170);
}/*# sourceMappingURL=App.css.map */