* {
  margin: 0;
  font-family: "Cascadia Mono", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(23, 23, 23);
}

.web-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 28, 28);
  justify-content: space-between;
  height: 4rem;
  width: 100%;
}
.web-header .header-container {
  margin: auto;
  display: flex;
  width: 80vh;
  max-width: 80vh;
  justify-content: space-between;
}
.web-header .header-container .header-left {
  display: flex;
  align-items: center;
}
.web-header .header-container .header-left a {
  text-decoration: none;
  color: rgb(131, 176, 135);
}
.web-header .header-container .header-right {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.web-header .header-container .header-right a {
  color: rgb(131, 176, 135);
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6rem;
}

.login-form {
  margin: 10rem auto;
  width: 80vh;
  max-width: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login-form input,
.login-form button {
  height: 4rem;
  font-size: 2.5rem;
}
.login-form input::-moz-placeholder, .login-form button::-moz-placeholder {
  font-style: italic;
  color: rgba(207, 207, 207, 0.2);
}
.login-form input::placeholder,
.login-form button::placeholder {
  font-style: italic;
  color: rgba(207, 207, 207, 0.2);
}
.login-form input:focus,
.login-form button:focus {
  outline: none;
}
.login-form input {
  background-color: rgb(35, 35, 35);
  border: none;
  color: white;
}
.login-form button {
  background-color: rgb(144, 144, 144);
  border: none;
}
.login-form button:hover {
  cursor: pointer;
  background-color: rgb(106, 105, 105);
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem auto;
  max-width: 80vh;
}
.create-post-form input,
.create-post-form textarea:focus {
  outline: none;
}
.create-post-form input::-moz-placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form input::placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form textarea::-moz-placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form textarea::placeholder {
  color: rgba(207, 207, 170, 0.2);
}
.create-post-form .overview-area {
  min-height: 15vh;
  max-height: 15vh;
}
.create-post-form .content-area {
  min-height: 50vh;
}
.create-post-form textarea {
  max-width: 80vh;
  min-width: 80vh;
  padding: 2vh;
}
.create-post-form .submit-class {
  display: flex;
  justify-content: space-between;
}
.create-post-form .submit-class input[type=file] {
  display: none;
}
.create-post-form .submit-class .file-class {
  display: flex;
  background-color: rgb(173, 167, 167);
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.create-post-form .submit-class button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 6.5rem;
  cursor: pointer;
  font-size: 2vh;
  height: 4rem;
  background-color: rgb(36, 36, 36);
  border: none;
  border-radius: 0.5rem;
  color: rgb(207, 207, 170);
}
.create-post-form input,
.create-post-form textarea {
  font-size: 2vh;
  padding-left: 2vh;
  height: 4rem;
  background-color: rgb(36, 36, 36);
  border: none;
  border-radius: 0.5rem;
  color: rgb(207, 207, 170);
}

.post-card {
  height: 30rem;
  width: 40rem;
  border-radius: 2rem;
  margin: auto;
  border: 0.4rem rgb(233, 234, 228) solid;
}
.post-card .post-card-header {
  position: relative;
  height: 15rem;
  width: auto;
}
.post-card .post-card-header img {
  position: absolute;
  opacity: 0.4;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  filter: blur(0.2rem);
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
  z-index: 1;
}
.post-card .post-card-header h1 {
  position: relative;
  margin-left: 2rem;
  z-index: 888;
  color: rgb(233, 234, 228);
  top: 14rem;
}
.post-card .post-card-body {
  margin: 3rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post-card .post-card-body .overview-container {
  height: 8rem;
}
.post-card .post-card-body .overview-container p {
  color: rgb(207, 207, 170);
  font-weight: 350;
}
.post-card .post-card-body button {
  border: none;
  height: 2rem;
  font-size: 1rem;
  width: 10rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(233, 234, 228);
  color: black;
}
.post-card .post-card-body button:hover {
  scale: 1.5;
}

.loading {
  color: rgb(131, 143, 176);
  font-size: 2rem;
}

.post-page {
  display: flex;
  flex-direction: column;
  max-width: 80vh;
  margin: 5vh auto;
}
.post-page header {
  display: flex;
  flex-direction: column;
}
.post-page header .header-words {
  display: grid;
  grid-template-columns: 80% 20%;
  color: rgb(230, 229, 217);
}
.post-page header .header-words h1 {
  font-size: 5rem;
}
.post-page header .header-words .overview {
  margin: auto 0rem;
  height: 80%;
  border-left: 2px solid rgba(230, 229, 217, 0.3);
}
.post-page header .header-words .overview p {
  color: rgba(230, 229, 217, 0.3);
  margin: 1rem;
  margin-right: 6;
}
.post-page header .header-img {
  height: 20rem;
  margin: 2rem 0;
}
.post-page header .header-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-page .username {
  color: rgb(207, 207, 170);
}
.post-page .content {
  margin: 2rem auto;
  color: rgb(207, 207, 170);
}/*# sourceMappingURL=App.css.map */